**/.DS_Store
.env

bin

# Dependency directory
node_modules

# Reports
.clinic

# Editors
.idea
*.iml

# Ignore built ts files
dist

# Logging files
*.log

tmp

# Ignore heapdump files
heapdump-*

# Ignore git files
git

reports
.eslintcache
.vscode

__pycache__
