name: Check Generated Constants

on:
  pull_request:
    branches:
      - develop
      - main

permissions:
  contents: read

jobs:
  check-generated:
    runs-on: ubuntu-latest

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 1

      - name: Setup Node
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install Dependencies
        run: npm run setup

      - name: Run generate constants
        run: npm run generate:constants

      - name: Check Git state
        run: |
          if [ -n "$(git status --porcelain)" ]; then
            echo "::error::Generated constants are not up-to-date. Run 'npm run generate:constants' and commit the changes.";
            echo "Here are the differences:";
            git diff || true 2>&1;
            exit 1;
          else
            echo "Git state is clean.";
          fi
