name: Create New Hotfix Branch

on:
  workflow_dispatch:
    inputs:
      hotfix_name:
        description: Hotfix branch name
        required: true

jobs:
  create-branch:
    name: Create New Branch
    runs-on: ubuntu-latest

    # Only allow release stakeholders to initiate releases
    if: github.ref == 'refs/heads/main' && (github.actor == 'ItsSudip' || github.actor == 'krishna2020' || github.actor == 'lvrach' || github.actor == 'cisse21' || github.actor == 'debanjan97' || github.actor == 'AchuthaSourabhC' || github.actor == 'saikumarrs' || github.actor == 'sandeepdsvs' || github.actor == 'shrouti1507' || github.actor == 'anantjain45823' || github.actor == 'aashishmalik' || github.actor == 'utsabc' || github.actor == 'sanpj2292' || github.actor == 'yashasvibajpai') && (github.triggering_actor == 'ItsSudip' || github.triggering_actor == 'krishna2020' || github.triggering_actor == 'lvrach' || github.triggering_actor == 'cisse21' || github.triggering_actor == 'debanjan97' || github.triggering_actor == 'AchuthaSourabhC' || github.triggering_actor == 'saikumarrs' || github.triggering_actor == 'sandeepdsvs' || github.triggering_actor == 'shrouti1507'|| github.triggering_actor == 'anantjain45823' || github.triggering_actor == 'aashishmalik' || github.triggering_actor == 'utsabc' || github.triggering_actor == 'sanpj2292' || github.triggering_actor == 'yashasvibajpai')
    steps:
      - name: Create Branch
        uses: peterjgrainger/action-create-branch@v2.4.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          branch: 'hotfix/${{ github.event.inputs.hotfix_name }}'
