name: Deploy Configurations To Staging DB

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    branches:
      - main

jobs:
  deploy:
    name: Deployment To Staging DB
    # Only pull requests from release candidate branches must trigger
    if: (startsWith(github.event.pull_request.head.ref, 'release/') || startsWith(github.event.pull_request.head.ref, 'hotfix-release/'))
    uses: ./.github/workflows/deploy.yml
    with:
      deploy_url: https://api.staging.rudderlabs.com
      ref: ${{ github.event.pull_request.head.ref }}
    secrets:
      API_USERNAME: ${{ secrets.STAGING_USERNAME }}
      API_PASSWORD: ${{ secrets.STAGING_PASSWORD }}
      SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
      SLACK_RELEASE_CHANNEL_ID: ${{ secrets.SLACK_RELEASE_CHANNEL_ID }}
