name: Deploy Configurations To Production DB

on:
  workflow_call:
  push:
    branches:
      - main
  pull_request:
    types:
      - closed
    branches:
      - main

jobs:
  report-code-coverage:
    name: Report Code Coverage
    if: github.event_name == 'push'
    uses: ./.github/workflows/report-code-coverage.yml
    secrets: inherit

  extract-version:
    name: Extract Deployment Version
    runs-on: ubuntu-latest
    # Only merged pull requests from release candidate branches and external workflow calls must trigger
    if: (((startsWith(github.event.pull_request.head.ref, 'release/') || startsWith(github.event.pull_request.head.ref, 'hotfix-release/')) && github.event.pull_request.merged == true) || github.event_name == 'workflow_call')
    outputs:
      version: ${{ steps.extract_version.outputs.version }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 1

      - name: Extract Package Version
        id: extract_version
        run: |
          version=$(jq -r .version package.json)
          echo $version
          echo "version=$version" >> $GITHUB_OUTPUT

  deploy:
    needs: [extract-version]
    name: Deployment To Production DB
    # Only merged pull requests from release candidate branches and external workflow calls must trigger
    if: (((startsWith(github.event.pull_request.head.ref, 'release/') || startsWith(github.event.pull_request.head.ref, 'hotfix-release/')) && github.event.pull_request.merged == true) || github.event_name == 'workflow_call')
    uses: ./.github/workflows/deploy.yml
    with:
      deploy_url: https://api.rudderstack.com
      notify: true
      version: ${{ needs.extract-version.outputs.version }}
      ref: main
    secrets:
      API_USERNAME: ${{ secrets.PROD_USERNAME }}
      API_PASSWORD: ${{ secrets.PROD_PASSWORD }}
      SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
      SLACK_RELEASE_CHANNEL_ID: ${{ secrets.SLACK_RELEASE_CHANNEL_ID }}
