name: Deploy Configurations To DB

on:
  workflow_call:
    inputs:
      deploy_url:
        required: true
        type: string
      notify:
        type: boolean
      version:
        type: string
    secrets:
      API_USERNAME:
        required: true
      API_PASSWORD:
        required: true
      SLACK_BOT_TOKEN:
        required: true
      SLACK_RELEASE_CHANNEL_ID:
        required: true

jobs:
  deploy:
    name: Deployment To DB
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 1

      - name: Setup Node
        uses: actions/setup-node@v4.0.4
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install Dependencies
        env:
          HUSKY: 0
        run: |
          npm run setup

      - name: Display Python Version
        run: |
          which python
          python -c "import sys; print(sys.version)"

      - name: Execute Unit Tests
        env:
          HUSKY: 0
        run: |
          npm run test:ci

      - name: List Working Directory Files
        run: |
          echo current directory
          pwd
          ls -a

      - name: Display Current Package Version
        run: echo $(jq -r .version package.json)

      - name: Deploy To DB
        env:
          API_USER: ${{ secrets.API_USERNAME }}
          API_PASSWORD: ${{ secrets.API_PASSWORD }}
        run: |
          python scripts/deployToDB.py ${{ inputs.deploy_url }}

      - name: Notify Slack Channel
        id: slack
        uses: slackapi/slack-github-action@v1.25.0
        continue-on-error: true
        if: inputs.notify == true
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
          PROJECT_NAME: 'Rudder Integrations Config'
          RELEASES_URL: 'https://github.com/rudderlabs/rudder-integrations-config/releases/tag/'
        with:
          channel-id: ${{ secrets.SLACK_RELEASE_CHANNEL_ID }}
          payload: |
            {
              "text": "*<${{env.RELEASES_URL}}v${{ inputs.version }}|v${{ inputs.version }}>*\nCC: <!subteam^S02AEQL26CT>",
              "blocks": [
                {
                  "type": "header",
                  "text": {
                    "type": "plain_text",
                    "text": ":tada:  ${{ env.PROJECT_NAME }} - Production Deployment Complete  :tada:"
                  }
                },
                {
                  "type": "divider"
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "*<${{env.RELEASES_URL}}v${{ inputs.version }}|v${{ inputs.version }}>*\nCC: <!subteam^S02AEQL26CT>"
                  }
                }
              ]
            }
