name: Report Code Coverage
on:
  workflow_call:
    secrets:
      CODECOV_TOKEN:
        required: true
  pull_request:
    types: ['opened', 'reopened', 'synchronize']

jobs:
  coverage:
    name: Code Coverage
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 1

      - name: Setup Node
        uses: actions/setup-node@v4.0.2
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install Dependencies
        run: npm run setup

      - name: Run Tests
        run: npm run test:ci

      - name: Upload Coverage Reports to Codecov
        uses: codecov/codecov-action@v4.2.0
        with:
          directory: ./reports/coverage
          token: ${{ secrets.CODECOV_TOKEN }}
