name: Rollback Production

on: workflow_dispatch

jobs:
  validate-actor:
    uses: ./.github/workflows/validate-actor.yml
    with:
      team_names: 'integrations,data-management'
    secrets:
      PAT: ${{ secrets.PAT }}

  deploy-tag:
    needs: validate-actor
    name: Rollback Production To a Tag
    uses: ./.github/workflows/deploy-to-prod.yml
    secrets: inherit

    # Only allow to be deployed from tags and main
    # Only allow specific actors to trigger
    if: (startsWith(github.ref, 'refs/tags/') || startsWith(github.ref, 'refs/heads/main'))
