name: Tests

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 1

      - name: Setup Node
        uses: actions/setup-node@v4.0.2
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install Dependencies
        run: npm run setup

      - name: Run Tests
        run: npm run test:ci

      - name: Get changed files
        id: changed_files
        uses: tj-actions/changed-files@v44
        with:
          sha: ${{ github.event.pull_request.head.sha }}

      - name: Run schema validation for changed files
        run: |
          chmod +x scripts/run-schema-validation.sh
          scripts/run-schema-validation.sh "${{ steps.changed_files.outputs.all_changed_files }}"
