name: Tests

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

permissions:
  contents: read

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0 # Fetch all history for diff comparison

      - name: Fetch base branch
        run: git fetch origin ${{ github.base_ref }}

      - name: Setup Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install Dependencies
        run: npm run setup

      - name: Run Tests
        run: npm run test:ci

      - name: Get changed files
        id: changed_files
        run: |
          CHANGED_FILES=$(git diff --name-only origin/${{ github.base_ref }})
          echo "CHANGED_FILES<<EOF" >> $GITHUB_ENV
          echo "$CHANGED_FILES" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Filter changed files for schema validation
        id: filter_changed_files
        run: |
          FILES_TO_VALIDATE=$(echo "$CHANGED_FILES" | grep -v "src/configurations/sources" || true)
          FILES_TO_VALIDATE=$(echo "$FILES_TO_VALIDATE" | tr '\n' ' ')
          echo "files_to_validate=$FILES_TO_VALIDATE" >> $GITHUB_ENV

      - name: Output Filtered files (remove later after sanity)
        run: echo "$files_to_validate"

      - name: Run schema validation for changed files
        run: |
          chmod +x scripts/run-schema-validation.sh
          scripts/run-schema-validation.sh $files_to_validate
      - name: Run account validation for changed files
        run: |
          chmod +x scripts/validate_diff_accounts.sh
          scripts/validate_diff_accounts.sh
