name: Code quality checks

on:
  pull_request:

jobs:
  py-scripts-lint:
    name: Check for formatting of python scripts
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install Dependencies
        run: npm run setup:python

      # Reference: https://black.readthedocs.io/en/stable/integrations/github_actions.html
      - name: Check formatting for Python files
        uses: psf/black@8a737e727ac5ab2f1d4cf5876720ed276dc8dc4b
        with:
          options: '--check --verbose'

  formatting-lint:
    name: Check for formatting & lint errors
    runs-on: ubuntu-latest

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .nvmrc
          cache: 'npm'

      - name: Install Dependencies
        run: npm run setup:npm

      - name: Run Lint Checks
        run: |
          npm run lint

      - run: git diff --exit-code

      - name: Error message
        if: ${{ failure() }}
        run: |
          echo 'ESLint check is failing. Please run `npm run lint` on your working copy and commit the changes.'
