name: Code quality checks

on:
  pull_request:

jobs:
  py-scripts-lint:
    name: Check for formatting of python scripts
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install Dependencies
        run: npm run setup:python

      # Reference: https://black.readthedocs.io/en/stable/integrations/github_actions.html
      - name: Check formatting for Python files
        uses: psf/black@782e5605c86aab56be6f905da10dcd3e463fd9c2
        with:
          options: '--check --verbose'

  formatting-lint:
    name: Check for formatting & lint errors
    runs-on: ubuntu-latest

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .nvmrc
          cache: 'npm'

      - name: Install Dependencies
        run: npm run setup:npm

      - name: Run Lint Checks
        run: |
          npm run lint

      - run: git diff --exit-code

      - name: Error message
        if: ${{ failure() }}
        run: |
          echo 'ESLint check is failing. Please run `npm run lint` on your working copy and commit the changes.'
