name: Code quality checks

on:
  pull_request:

jobs:
  py-scripts-lint:
    name: Check for formatting of python scripts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install Dependencies
        run: npm run setup:python

      # Reference: https://black.readthedocs.io/en/stable/integrations/github_actions.html
      - name: Check formatting for Python files
        uses: psf/black@8a737e727ac5ab2f1d4cf5876720ed276dc8dc4b
        with:
          options: '--check --verbose'

  formatting-lint:
    name: Check for formatting & lint errors
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v5.0.0
        with:
          node-version-file: .nvmrc
          cache: 'npm'

      - name: Install Dependencies
        run: npm run setup:npm

      - name: Run Lint Checks
        run: |
          npm run lint

      - run: git diff --exit-code

      - name: Error message
        if: ${{ failure() }}
        run: |
          echo 'ESLint check is failing. Please run `npm run lint` on your working copy and commit the changes.'
